# Operações com dataset

### Divisão por linha

In [ ]:
f = open("arquivos/atelie-catalogo-produtos (1).csv", "r")
data = f.read()

In [ ]:
rows = data.split('\n') # O split faz a divisão atraves de algum caracter especificado

In [ ]:
print(rows)

### Divisão por coluna

In [ ]:
f = open('arquivos/atelie-catalogo-produtos (1).csv', 'r')
data = f.read()
rows = data.split('\n')
full_data = []

In [ ]:
for row in rows:
    split_row = row.split(",")
    full_data.append(split_row)
count = 0

In [ ]:
for column in full_data:
    count = count + 1
    
# Outra solução possível
# for column in full_data[0]:
#     count = count + 1

In [ ]:
print(count)

### Gravando arquivo pelo jupyter Notebook

In [ ]:
%%writefile arquivos/arquivo2.txt 
Este livro vai abordar desde o básico em redes neurais artificias, modelos Perceptron e Multilayer Perceptron, 
passando pelo processo de treinamento com Backpropagation.

In [ ]:
arg4 = open("arquivos/arquivo2.txt")

In [ ]:
arg4.read()

In [ ]:
arg4.seek(0) #Imprime a partir do caractere especificado

In [ ]:
arg4.seek(0)
arg4.readlines() # lê o arquivo linha a linha

In [ ]:
#podemos usar o loop for para ler o arquivo 

for linha in open("arquivos/arquivo2.txt"): # desse modo fica mais legivel.
    print(linha)

## Importando um dataset com Pandas

### Pacote muito importante para manipulação de arquivos, um dos mais usados para análise de dados.

In [53]:
import pandas as pd

In [54]:
file_name = "arquivos/atelie-catalogo-produtos (1).csv"

In [ ]:
df = pd.read_csv(file_name, sep='you_delimiter', header=None)

In [55]:
df.head()

                                                   0
0              Cat�logo de Livros da Ateli� Editoral
1              Lista gerada em 10/02/2022 - 14:48:30
2                   Titulo;Isbn;Autor;Assunto;Valor;
3  50 Tons da Vida;97-885-7480-817-8;Roberto Livi...
4  A Um - Poemas;85-85851-40-6;Robert Creeley;Poe...

In [50]:
file2 = "arquivos/ocorrencia.csv"

In [51]:
df2 = pd.read_csv(file2, sep='you', header=None)

C:\Users\wesle\AppData\Local\Temp\ipykernel_17496\3229283208.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df2 = pd.read_csv(file2, sep='you', header=None)

In [52]:
df2.head()

                                                   0
0  codigo_ocorrencia;codigo_ocorrencia1;codigo_oc...
1  52242;52242;52242;52242;52242;INCIDENTE;;;PORT...
2  45331;45331;45331;45331;45331;ACIDENTE;-23.435...
3  45333;45333;45333;45333;45333;ACIDENTE;***;***...
4  45401;45401;45401;45401;45401;ACIDENTE;***;***...